In [1]:
import pandas as pd

In [2]:
df1 = pd.read_parquet('data2020_parquet.parquet')
df2 = pd.read_parquet('data2021_parquet.parquet')
df3 = pd.read_parquet('data2022_parquet.parquet')
df4 = pd.read_parquet('data2023_parquet.parquet')

In [3]:
df1

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType,Urban
0,2002,0,середня загальноосвітня школа,Рівненська область,Сарненський район,"165,0","109,0","124,0",None,None,None,None,None,None,None,ZNO2020,0.0
1,2003,1,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,"159,0","139,0","145,0",None,None,None,"146,0",None,None,None,ZNO2020,1.0
2,2002,1,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,"0,0","113,0","0,0",None,None,None,None,None,None,None,ZNO2020,1.0
3,2003,1,середня загальноосвітня школа,Волинська область,Любешівський район,"162,0","132,0","145,0",None,None,None,None,None,None,None,ZNO2020,0.0
4,2002,0,гімназія,м.Київ,м.Київ. Дарницький район міста,"192,0","162,0","192,0",None,None,None,None,None,None,None,ZNO2020,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60148,2003,1,ліцей,Чернівецька область,м.Новодністровськ,"178,0","156,0","139,0",None,"152,0",None,None,None,None,None,ZNO2020,1.0
60149,2003,0,ліцей,Харківська область,Нововодолазький район,"152,0","157,0","137,0",None,None,None,None,None,None,None,ZNO2020,0.0
60150,2003,1,заклад вищої освіти,Сумська область,м.Суми. Ковпаківський район міста,"147,0","173,0","107,0",None,None,None,None,None,None,None,ZNO2020,1.0
60151,2003,0,заклад вищої освіти,Одеська область,м.Одеса. Приморський район міста,"137,0","120,0","124,0",None,None,None,None,None,None,None,ZNO2020,1.0
60152,2003,0,середня загальноосвітня школа,Вінницька область,Піщанський район,"0,0","0,0","0,0",None,None,None,None,None,None,None,ZNO2020,0.0

In [4]:
df2

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType,Urban
0,2003,1,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,"120,0","103,0","105,0",None,None,None,None,None,None,None,ZNO2021,1.0
1,2003,1,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,"143,0","145,0","0,0","120,0",None,None,None,None,None,None,ZNO2021,1.0
2,2004,0,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,"169,0","148,0","133,0",None,None,"171,0",None,None,None,None,ZNO2021,1.0
3,2003,0,ліцей,Івано-Франківська область,Долинський район,"188,0","175,0","190,0",None,None,None,"157,0",None,None,None,ZNO2021,1.0
4,2004,0,середня загальноосвітня школа,Київська область,Вишгородський район,"182,0",None,"163,0",None,None,"159,0","186,0",None,None,None,ZNO2021,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238291,2003,0,середня загальноосвітня школа,Львівська область,Яворівський район,"143,0","112,0","131,0",None,None,None,None,None,None,None,ZNO2021,0.0
238292,2004,1,середня загальноосвітня школа,Одеська область,Іванівський район,None,"137,0","0,0",None,None,None,None,None,None,None,ZNO2021,0.0
238293,2003,1,середня загальноосвітня школа,Донецька область,Мар'їнський район,None,None,None,None,None,None,None,None,None,None,ZNO2021,1.0
238294,2003,1,ліцей,Чернівецька область,Сторожинецький район,None,None,None,None,None,None,None,None,None,None,ZNO2021,0.0
238295,2004,1,середня загальноосвітня школа,Вінницька область,Гайсинський район,"166,0",None,"164,0",None,None,"173,0",None,None,None,None,ZNO2021,0.0

In [5]:
df3

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,TestType,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,Urban
0,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,"142,0","147,0","128,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,"137,0","149,0","136,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,"169,0","158,0","185,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2005,0,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,"154,0","146,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2005,1,навчально-виховний комплекс,Львівська область,Яворівський район,NMT2022,"166,0","144,0","144,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214069,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,"139,0","142,0","149,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
214070,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,"140,0","136,0","148,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
214071,2005,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,"184,0","170,0","162,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
214072,2005,1,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,"157,0","152,0","154,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
214073,2004,0,середня загальноосвітня школа,Волинська область,Володимирський район,NMT2022,"139,0","131,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [6]:
df4

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,TestType,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,Urban
0,2006,0,гімназія,Запорізька область,м.Запоріжжя,NMT2023,"145,0",None,"143,0",None,None,None,"175,0",None,None,None,1.0
1,2006,0,гімназія,Херсонська область,м.Херсон,NMT2023,"153,0",None,"148,0",None,None,None,"140,0",None,None,None,1.0
2,2006,0,навчально-виховний комплекс,Дніпропетровська область,м.Дніпро,NMT2023,"195,0",None,"175,0",None,None,None,"171,0",None,None,None,1.0
3,2003,0,None,None,None,NMT2023,"149,0","140,0","121,0",None,None,None,None,None,None,None,NaN
4,2006,1,навчально-виховний комплекс,м.Київ,м.Київ,NMT2023,"140,0","134,0","114,0",None,None,None,None,None,None,None,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268123,2006,1,середня загальноосвітня школа,Донецька область,Волноваський район,NMT2023,"174,0","155,0","148,0",None,None,None,None,None,None,None,0.0
268124,2004,1,None,None,None,NMT2023,"142,0","130,0","131,0",None,None,None,None,None,None,None,NaN
268125,2006,0,середня загальноосвітня школа,Львівська область,м.Львів,NMT2023,"174,0",None,"187,0",None,None,None,"171,0",None,None,None,1.0
268126,2004,1,заклад професійної (професійно-технічної) освіти,Харківська область,Лозівський район,NMT2023,"128,0","134,0","134,0",None,None,None,None,None,None,None,1.0
268127,2006,1,ліцей,Київська область,Бучанський район,NMT2023,"144,0",None,"140,0",None,None,None,"134,0",None,None,None,1.0

In [7]:
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True, sort=False)
merged_df

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType,Urban
0,2002,0,середня загальноосвітня школа,Рівненська область,Сарненський район,"165,0","109,0","124,0",None,None,None,None,None,None,None,ZNO2020,0.0
1,2003,1,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,"159,0","139,0","145,0",None,None,None,"146,0",None,None,None,ZNO2020,1.0
2,2002,1,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,"0,0","113,0","0,0",None,None,None,None,None,None,None,ZNO2020,1.0
3,2003,1,середня загальноосвітня школа,Волинська область,Любешівський район,"162,0","132,0","145,0",None,None,None,None,None,None,None,ZNO2020,0.0
4,2002,0,гімназія,м.Київ,м.Київ. Дарницький район міста,"192,0","162,0","192,0",None,None,None,None,None,None,None,ZNO2020,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780646,2006,1,середня загальноосвітня школа,Донецька область,Волноваський район,"174,0","155,0","148,0",None,None,None,None,None,None,None,NMT2023,0.0
780647,2004,1,None,None,None,"142,0","130,0","131,0",None,None,None,None,None,None,None,NMT2023,NaN
780648,2006,0,середня загальноосвітня школа,Львівська область,м.Львів,"174,0",None,"187,0",None,None,None,"171,0",None,None,None,NMT2023,1.0
780649,2004,1,заклад професійної (професійно-технічної) освіти,Харківська область,Лозівський район,"128,0","134,0","134,0",None,None,None,None,None,None,None,NMT2023,1.0
780650,2006,1,ліцей,Київська область,Бучанський район,"144,0",None,"140,0",None,None,None,"134,0",None,None,None,NMT2023,1.0

In [9]:
merged_df.to_csv('data.csv', index=False, sep=';', encoding='utf-8')
merged_df.to_parquet('data_parquet.parquet', index=False)