In [70]:
import pandas as pd
import numpy as np

In [71]:
df2021 = pd.read_csv('Odata2021File.csv', delimiter=';')
df2021

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,ClassProfileNAME,ClassLangName,...,ChemLang,ChemBall100,BioLang,BioBall100,GeoLang,GeoBall100,EngBall100,FraBall100,DeuBall100,SpaBall100
0,8a2abef7-625a-4253-8c14-000fe8a856e5,2003,чоловіча,Дніпропетровська область,м.Кам'янське,Дніпровський район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,українська,"124,0",NaN,NaN,NaN,NaN
1,3e975d01-9cc9-4072-bbcd-005b9da75096,2003,чоловіча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,58c926c3-8718-4845-918b-00155b917934,2003,чоловіча,Дніпропетровська область,м.Дніпро,Соборний район міста,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
3,443f89c2-84e7-4a56-bea3-005c776e0121,2004,жіноча,Кіровоградська область,м.Кропивницький,Фортечний район міста,Випускник загальноосвітнього навчального закла...,місто,Біолого-хімічний,українська,...,NaN,NaN,українська,"171,0",NaN,NaN,NaN,NaN,NaN,NaN
4,0b7b2e81-a906-412f-ad74-005025fd9d29,2003,жіноча,Івано-Франківська область,Долинський район,м.Долина,Випускник загальноосвітнього навчального закла...,місто,Технологічний,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,"157,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389318,e62710ee-74fa-4085-b066-f38fc37ceae7,2003,жіноча,Рівненська область,Демидівський район,смт Демидівка,Учень (слухач) закладу професійної (професійно...,селище міського типу,Кваліфікований робітник,українська,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
389319,b2e4de44-7ebd-4163-8952-f988a9de1f67,1989,жіноча,Харківська область,Кегичівський район,смт Кегичівка,Учень (слухач) закладу професійної (професійно...,селище міського типу,Кваліфікований робітник,українська,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389320,e007c190-1fe1-4658-9eb0-f7cf489fc015,2004,жіноча,Одеська область,Одеська область,м.Білгород-Дністровський,Студент закладу вищої освіти,місто,Молодший спеціаліст,українська,...,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389321,2668b9f3-ddf9-4062-acd7-fdf6e2ca8cc8,2004,чоловіча,Вінницька область,Гайсинський район,с.Чечелівка,Випускник загальноосвітнього навчального закла...,"селище, село",Української філології,українська,...,NaN,NaN,українська,"173,0",українська,NaN,NaN,NaN,NaN,NaN
389322,c0723de9-57b5-4450-b404-ffe67945d843,2004,жіноча,Хмельницька область,Хмельницька область,м.Славута,Випускник загальноосвітнього навчального закла...,місто,Історичний,українська,...,NaN,NaN,українська,"130,0",NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
cols = df2021.columns.values.tolist()
for k, v in enumerate(cols):
    print(f'{k} : {v}')

0 : OUTID
1 : Birth
2 : SexTypeName
3 : RegName
4 : AREANAME
5 : TERNAME
6 : RegTypeName
7 : TerTypeName
8 : ClassProfileNAME
9 : ClassLangName
10 : EONAME
11 : EOTypeName
12 : EORegName
13 : EOAreaName
14 : EOTerName
15 : EOParent
16 : UMLTestStatus
17 : UMLBall100
18 : UkrTestStatus
19 : UkrBall100
20 : HistLang
21 : HistBall100
22 : MathLang
23 : MathTestStatus
24 : MathBall100
25 : MathStLang
26 : MathStTestStatus
27 : PhysLang
28 : PhysBall100
29 : ChemLang
30 : ChemBall100
31 : BioLang
32 : BioBall100
33 : GeoLang
34 : GeoBall100
35 : EngBall100
36 : FraBall100
37 : DeuBall100
38 : SpaBall100

In [73]:
to_drop = [cols[0]] + cols[3:9] + [cols[10]] + [cols[15]]
df2021.drop(to_drop, axis=1, inplace=True)
df2021

,Birth,SexTypeName,ClassLangName,EOTypeName,EORegName,EOAreaName,EOTerName,UMLTestStatus,UMLBall100,UkrTestStatus,...,ChemLang,ChemBall100,BioLang,BioBall100,GeoLang,GeoBall100,EngBall100,FraBall100,DeuBall100,SpaBall100
0,2003,чоловіча,українська,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,Зараховано,"120,0",Зараховано,...,NaN,NaN,NaN,NaN,українська,"124,0",NaN,NaN,NaN,NaN
1,2003,чоловіча,українська,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"143,0",Зараховано,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,чоловіча,українська,заклад фахової передвищої освіти,Дніпропетровська область,м.Дніпро. Соборний район міста,Соборний район міста,Не з’явився,NaN,NaN,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
3,2004,жіноча,українська,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"169,0",Зараховано,...,NaN,NaN,українська,"171,0",NaN,NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,українська,ліцей,Івано-Франківська область,Долинський район,м.Долина,Зараховано,"188,0",Зараховано,...,NaN,NaN,NaN,NaN,NaN,NaN,"157,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389318,2003,жіноча,українська,заклад професійної (професійно-технічної) освіти,Рівненська область,Демидівський район,смт Демидівка,Не з’явився,NaN,Не з’явився,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
389319,1989,жіноча,українська,заклад професійної (професійно-технічної) освіти,Харківська область,Кегичівський район,смт Кегичівка,NaN,NaN,Не з’явився,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389320,2004,жіноча,українська,заклад фахової передвищої освіти,Одеська область,м.Білгород-Дністровський,м.Білгород-Дністровський,NaN,NaN,Не з’явився,...,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389321,2004,чоловіча,українська,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,Зараховано,"166,0",Зараховано,...,NaN,NaN,українська,"173,0",українська,NaN,NaN,NaN,NaN,NaN
389322,2004,жіноча,українська,спеціалізована школа,Хмельницька область,м.Славута,м.Славута,Зараховано,"157,0",Зараховано,...,NaN,NaN,українська,"130,0",NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df2021 = df2021[df2021['ClassLangName']=='українська']
print(df2021['ClassLangName'].unique())
df2021.drop(columns=['ClassLangName'],axis=1, inplace=True)
df2021

['українська']

/var/folders/13/_x6739851n5cgbjrsnp0g9zh0000gn/T/ipykernel_3300/3137058060.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2021.drop(columns=['ClassLangName'],axis=1, inplace=True)

,Birth,SexTypeName,EOTypeName,EORegName,EOAreaName,EOTerName,UMLTestStatus,UMLBall100,UkrTestStatus,UkrBall100,...,ChemLang,ChemBall100,BioLang,BioBall100,GeoLang,GeoBall100,EngBall100,FraBall100,DeuBall100,SpaBall100
0,2003,чоловіча,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,Зараховано,"120,0",Зараховано,"124,0",...,NaN,NaN,NaN,NaN,українська,"124,0",NaN,NaN,NaN,NaN
1,2003,чоловіча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"143,0",Зараховано,"151,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,чоловіча,заклад фахової передвищої освіти,Дніпропетровська область,м.Дніпро. Соборний район міста,Соборний район міста,Не з’явився,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
3,2004,жіноча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"169,0",Зараховано,"162,0",...,NaN,NaN,українська,"171,0",NaN,NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,ліцей,Івано-Франківська область,Долинський район,м.Долина,Зараховано,"188,0",Зараховано,"185,0",...,NaN,NaN,NaN,NaN,NaN,NaN,"157,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389318,2003,жіноча,заклад професійної (професійно-технічної) освіти,Рівненська область,Демидівський район,смт Демидівка,Не з’явився,NaN,Не з’явився,NaN,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
389319,1989,жіноча,заклад професійної (професійно-технічної) освіти,Харківська область,Кегичівський район,смт Кегичівка,NaN,NaN,Не з’явився,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389320,2004,жіноча,заклад фахової передвищої освіти,Одеська область,м.Білгород-Дністровський,м.Білгород-Дністровський,NaN,NaN,Не з’явився,NaN,...,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389321,2004,чоловіча,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,Зараховано,"166,0",Зараховано,"171,0",...,NaN,NaN,українська,"173,0",українська,NaN,NaN,NaN,NaN,NaN
389322,2004,жіноча,спеціалізована школа,Хмельницька область,м.Славута,м.Славута,Зараховано,"157,0",Зараховано,"153,0",...,NaN,NaN,українська,"130,0",NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df2021 = df2021[df2021['MathLang']=='українська']
print(df2021['MathLang'].unique())

['українська']

In [76]:
df2021 = df2021[~df2021['UMLTestStatus'].isin(["Не з’явився", "Анульовано"])]
df2021

,Birth,SexTypeName,EOTypeName,EORegName,EOAreaName,EOTerName,UMLTestStatus,UMLBall100,UkrTestStatus,UkrBall100,...,ChemLang,ChemBall100,BioLang,BioBall100,GeoLang,GeoBall100,EngBall100,FraBall100,DeuBall100,SpaBall100
0,2003,чоловіча,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,Зараховано,"120,0",Зараховано,"124,0",...,NaN,NaN,NaN,NaN,українська,"124,0",NaN,NaN,NaN,NaN
1,2003,чоловіча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"143,0",Зараховано,"151,0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,жіноча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,Зараховано,"169,0",Зараховано,"162,0",...,NaN,NaN,українська,"171,0",NaN,NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,ліцей,Івано-Франківська область,Долинський район,м.Долина,Зараховано,"188,0",Зараховано,"185,0",...,NaN,NaN,NaN,NaN,NaN,NaN,"157,0",NaN,NaN,NaN
5,2004,жіноча,середня загальноосвітня школа,Київська область,Вишгородський район,с.Нижча Дубечня,Зараховано,"182,0",Зараховано,"187,0",...,NaN,NaN,українська,"159,0",українська,"173,0","186,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389314,2003,жіноча,середня загальноосвітня школа,Львівська область,Яворівський район,с.Середкевичі,Зараховано,"143,0",Зараховано,"147,0",...,NaN,NaN,NaN,NaN,українська,"110,0",NaN,NaN,NaN,NaN
389315,2004,чоловіча,середня загальноосвітня школа,Одеська область,Іванівський район,с.Знам'янка,NaN,NaN,Зараховано,"139,0",...,NaN,NaN,NaN,NaN,українська,"161,0",NaN,NaN,NaN,NaN
389316,2003,чоловіча,середня загальноосвітня школа,Донецька область,Мар'їнський район,м.Красногорівка,NaN,NaN,Не з’явився,NaN,...,NaN,NaN,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN
389317,2003,чоловіча,ліцей,Чернівецька область,Сторожинецький район,с.Стара Жадова,NaN,NaN,Не з’явився,NaN,...,NaN,NaN,українська,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389321,2004,чоловіча,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,Зараховано,"166,0",Зараховано,"171,0",...,NaN,NaN,українська,"173,0",українська,NaN,NaN,NaN,NaN,NaN

In [77]:
df2021.drop(columns=['UMLTestStatus', 'UkrTestStatus', 'UkrBall100', 'HistLang', 'MathLang', 'MathTestStatus', 'MathStLang', 'MathStTestStatus', 'PhysLang', 'ChemLang', 'BioLang', 'GeoLang', ], axis=1, inplace=True)
df2021

,Birth,SexTypeName,EOTypeName,EORegName,EOAreaName,EOTerName,UMLBall100,HistBall100,MathBall100,PhysBall100,ChemBall100,BioBall100,GeoBall100,EngBall100,FraBall100,DeuBall100,SpaBall100
0,2003,чоловіча,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,"120,0","103,0","105,0",NaN,NaN,NaN,"124,0",NaN,NaN,NaN,NaN
1,2003,чоловіча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"143,0","145,0","0,0","120,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,жіноча,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"169,0","148,0","133,0",NaN,NaN,"171,0",NaN,NaN,NaN,NaN,NaN
4,2003,жіноча,ліцей,Івано-Франківська область,Долинський район,м.Долина,"188,0","175,0","190,0",NaN,NaN,NaN,NaN,"157,0",NaN,NaN,NaN
5,2004,жіноча,середня загальноосвітня школа,Київська область,Вишгородський район,с.Нижча Дубечня,"182,0",NaN,"163,0",NaN,NaN,"159,0","173,0","186,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389314,2003,жіноча,середня загальноосвітня школа,Львівська область,Яворівський район,с.Середкевичі,"143,0","112,0","131,0",NaN,NaN,NaN,"110,0",NaN,NaN,NaN,NaN
389315,2004,чоловіча,середня загальноосвітня школа,Одеська область,Іванівський район,с.Знам'янка,NaN,"137,0","0,0",NaN,NaN,NaN,"161,0",NaN,NaN,NaN,NaN
389316,2003,чоловіча,середня загальноосвітня школа,Донецька область,Мар'їнський район,м.Красногорівка,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389317,2003,чоловіча,ліцей,Чернівецька область,Сторожинецький район,с.Стара Жадова,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389321,2004,чоловіча,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,"166,0",NaN,"164,0",NaN,NaN,"173,0",NaN,NaN,NaN,NaN,NaN

In [78]:
df2021.drop(columns=['GeoBall100'], axis=1, inplace=True)
df2021.rename(columns={'SexTypeName':'SexType', 'EOTypeName':'SchoolType', 'EORegName':'SchoolRegion', 'EOAreaName':'SchoolArea', 'UMLBall100':'Ukr', 'HistBall100':'Hist', 'MathBall100':'Math', 'PhysBall100':'Phys', 'ChemBall100':'Chem', 'BioBall100':'Bio', 'EngBall100':'Eng', 'FraBall100':'Fra', 'DeuBall100':'Deu', 'SpaBall100':'Spa'}, inplace=True)
df2021['SexType'] = df2021['SexType'].apply(lambda x: 1 if x == 'чоловіча' else 0)
df2021['TestType'] = 'ZNO2021'
df2021

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType
0,2003,1,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,"120,0","103,0","105,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
1,2003,1,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"143,0","145,0","0,0","120,0",NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
3,2004,0,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"169,0","148,0","133,0",NaN,NaN,"171,0",NaN,NaN,NaN,NaN,ZNO2021
4,2003,0,ліцей,Івано-Франківська область,Долинський район,м.Долина,"188,0","175,0","190,0",NaN,NaN,NaN,"157,0",NaN,NaN,NaN,ZNO2021
5,2004,0,середня загальноосвітня школа,Київська область,Вишгородський район,с.Нижча Дубечня,"182,0",NaN,"163,0",NaN,NaN,"159,0","186,0",NaN,NaN,NaN,ZNO2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389314,2003,0,середня загальноосвітня школа,Львівська область,Яворівський район,с.Середкевичі,"143,0","112,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
389315,2004,1,середня загальноосвітня школа,Одеська область,Іванівський район,с.Знам'янка,NaN,"137,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
389316,2003,1,середня загальноосвітня школа,Донецька область,Мар'їнський район,м.Красногорівка,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
389317,2003,1,ліцей,Чернівецька область,Сторожинецький район,с.Стара Жадова,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021
389321,2004,1,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,"166,0",NaN,"164,0",NaN,NaN,"173,0",NaN,NaN,NaN,NaN,ZNO2021

In [79]:
urban, village, nan = 0, 0, 0
values = list(df2021['EOTerName'].values)
print(len(values))
for occurrence in df2021['EOTerName']:
       # occurrence = str(occurrence)
       if 'nan' in str(occurrence) or 'NaN' in str(occurrence):
              # values.remove(occurrence)
              nan += 1
       if 'м.' in str(occurrence) or 'район міста' in str(occurrence):
              # values.remove(occurrence)
              urban += 1
       if 'с.' in str(occurrence) or 'смт ' in str(occurrence) or 'смт.' in str(occurrence) or 'с-ще ' in str(occurrence):
              # values.remove(occurrence)
              village += 1
print(nan)
print(urban)
print(village)
print(nan + urban + village)

238296
0
177488
60808
238296

In [80]:
df2021['Urban'] = np.NaN
urban_mask = df2021['EOTerName'].str.contains('м\.|район міста', case=False, na=False)
village_mask = df2021['EOTerName'].apply(lambda x: 'с.' in str(x) or 'смт ' in str(x) or 'смт.' in str(x) or 'с-ще ' in str(x))
df2021.loc[urban_mask, 'Urban'] = 1
df2021.loc[village_mask, 'Urban'] = 0
df2021

,Birth,SexType,SchoolType,SchoolRegion,SchoolArea,EOTerName,Ukr,Hist,Math,Phys,Chem,Bio,Eng,Fra,Deu,Spa,TestType,Urban
0,2003,1,заклад фахової передвищої освіти,Дніпропетровська область,м.Кам'янське. Дніпровський район міста,Дніпровський район міста,"120,0","103,0","105,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,1.0
1,2003,1,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"143,0","145,0","0,0","120,0",NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,1.0
3,2004,0,ліцей,Кіровоградська область,м.Кропивницький. Фортечний район міста,Фортечний район міста,"169,0","148,0","133,0",NaN,NaN,"171,0",NaN,NaN,NaN,NaN,ZNO2021,1.0
4,2003,0,ліцей,Івано-Франківська область,Долинський район,м.Долина,"188,0","175,0","190,0",NaN,NaN,NaN,"157,0",NaN,NaN,NaN,ZNO2021,1.0
5,2004,0,середня загальноосвітня школа,Київська область,Вишгородський район,с.Нижча Дубечня,"182,0",NaN,"163,0",NaN,NaN,"159,0","186,0",NaN,NaN,NaN,ZNO2021,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389314,2003,0,середня загальноосвітня школа,Львівська область,Яворівський район,с.Середкевичі,"143,0","112,0","131,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,0.0
389315,2004,1,середня загальноосвітня школа,Одеська область,Іванівський район,с.Знам'янка,NaN,"137,0","0,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,0.0
389316,2003,1,середня загальноосвітня школа,Донецька область,Мар'їнський район,м.Красногорівка,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,1.0
389317,2003,1,ліцей,Чернівецька область,Сторожинецький район,с.Стара Жадова,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNO2021,0.0
389321,2004,1,середня загальноосвітня школа,Вінницька область,Гайсинський район,с.Чечелівка,"166,0",NaN,"164,0",NaN,NaN,"173,0",NaN,NaN,NaN,NaN,ZNO2021,0.0

In [81]:
df2021.drop(columns=['EOTerName'], inplace=True)
df2021.to_csv('data2021.csv', index=False, sep=';', encoding='utf-8')
df2021.to_parquet('data2021_parquet.parquet', index=False)